* {
    -fx-accent: #009688;
    -fx-primary: #F44336;
    -fx-divider: #BDBDBD;
    -fx-divider-light: #eeeeee;
    -fx-text-btn: #FFFFFF;
}

.jfx-hamburger-icon{
    -fx-spacing: 5;
    -fx-cursor: hand;
}
.jfx-hamburger-icon StackPane{
    -fx-pref-width: 35px;
    -fx-pref-height: 3px;
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 5px;
}

.card {
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
    -fx-background-color : #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #00000031, 10, 0, 0, 2);
}

.default-btn {
    -fx-background-color : -fx-accent;
    -fx-text-fill :-fx-text-btn;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0 0 1;
    -fx-background-color : -fx-divider;
}